@import "tailwindcss";

@theme {
  --font-sans: "Montserrat", sans-serif;
  --color-brand-10: #d90429;
  --color-brand-20: #ef233c;

  --color-primary: #08090a;
  --color-secondary: #fefffe;

  --color-surface-10: #101213;
  --color-surface-20: #191b1d;
  --color-surface-30: #212427;
  --color-surface-40: #32373b;
  --color-surface-50: #50585e;

  --color-success: #62a87c;
  --color-danger: #ef233c;
  --color-warning: #e09f3e;
  --color-info: #058ed9;

  --color-dark-indigo: #181925;
  --color-indigo: #2b2d42;
  --color-dark-grey: #454b56;
  --color-grey: #8d99ae;
  --color-platinum: #edf2f4;
  --color-strawberry: #ef233c;
  --color-vivid-red: #d90429;
}

@layer base {
  body {
    @apply text-indigo bg-gray-50;
  }

  h2 {
    @apply font-extrabold text-4xl;
  }
}

@layer components {
  .auth-page-layout {
    @apply min-h-screen flex items-center justify-center;
  }

  .auth-form-card {
    @apply flex-1 py-14 flex flex-col items-center justify-center shadow-2xl bg-white;
  }

  .auth-card-wrapper {
    @apply flex w-full max-w-3xl bg-transparent;
  }

  .input-field {
    @apply w-full mx-auto block px-4 py-2.5 bg-platinum rounded-xs text-indigo focus:border-transparent focus:outline-none;
  }

  .input-field-error {
    @apply border-vivid-red border focus:ring-vivid-red;
  }

  .input-field-error-message {
    @apply text-vivid-red text-xs mt-1 ml-1 text-left;
  }

  .btn-primary {
    @apply w-full py-2.5 rounded-4xl text-white cursor-pointer bg-strawberry hover:bg-vivid-red transition-colors duration-200;
  }

  .btn-secondary {
    @apply w-full py-2.5 rounded-4xl text-white cursor-pointer bg-strawberry hover:bg-vivid-red transition-colors duration-200 border-white border-2;
  }

  .btn-icon {
    @apply w-full h-full rounded-full flex items-center justify-center cursor-pointer border-2 border-platinum;
  }
}
