@import "tailwindcss";

@theme {
  --font-sans: "Montserrat", sans-serif;
  --color-primary-10: #d90429;
  --color-primary-20: #e23d3e;
  --color-primary-30: #ea5b53;
  --color-primary-40: #f1756a;
  --color-primary-50: #f68d81;

  --color-surface-10: #1c1c1c;
  --color-surface-20: #313131;
  --color-surface-30: #474747;
  --color-surface-40: #5f5f5f;
  --color-surface-50: #777777;
  --color-surface-60: #919191;

  --color-success-10: #22946e;
  --color-success-20: #47d5a6;
  --color-success-30: #9ae8ce;

  --color-dark-indigo: #181925;
  --color-indigo: #2b2d42;
  --color-dark-grey: #454b56;
  --color-grey: #8d99ae;
  --color-platinum: #edf2f4;
  --color-strawberry: #ef233c;
  --color-vivid-red: #d90429;
}

@layer base {
  body {
    @apply text-indigo bg-gray-50;
  }

  h2 {
    @apply font-extrabold text-4xl;
  }

  a {
    @apply underline cursor-pointer;
  }
}

@layer components {
  .auth-page-layout {
    @apply min-h-screen flex items-center justify-center;
  }

  .auth-form-card {
    @apply flex-1 py-14 flex flex-col items-center justify-center shadow-2xl bg-white;
  }

  .auth-card-wrapper {
    @apply flex w-full max-w-3xl bg-transparent;
  }

  .input-field {
    @apply w-full mx-auto block px-4 py-2.5 bg-platinum rounded-xs text-indigo focus:border-transparent focus:outline-none;
  }

  .input-field-error {
    @apply border-vivid-red border focus:ring-vivid-red;
  }

  .input-field-error-message {
    @apply text-vivid-red text-xs mt-1 ml-1 text-left;
  }

  .btn-primary {
    @apply w-full py-2.5 rounded-4xl text-white cursor-pointer bg-strawberry hover:bg-vivid-red transition-colors duration-200;
  }

  .btn-secondary {
    @apply w-full py-2.5 rounded-4xl text-white cursor-pointer bg-strawberry hover:bg-vivid-red transition-colors duration-200 border-white border-2;
  }

  .btn-icon {
    @apply w-full h-full rounded-full flex items-center justify-center cursor-pointer border-2 border-platinum;
  }
}